.nav-mobile {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: #222;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-mobile-search form {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    height: 50px;
}

.nav-mobile-search input {
    background-color: transparent;
    color: #eee;
    caret-color: #eee;
}

.nav-mobile-links {
    height: 100%;
    margin: 0;
}

.nav-mobile-links ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-mobile-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-mobile-links small {
    font-size: 12px;
}