/* Background
https://images.unsplash.com/photo-1516920846492-81bc6da9fc38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9cfc2f2e1c3766f7de7c61d9438a55a
Vinicius Amano 
https://unsplash.com/@viniciusamano
*/

html, body {
    margin: 0;
    padding: 0;
    color: #eee;
}
header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle; 
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1516920846492-81bc6da9fc38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9cfc2f2e1c3766f7de7c61d9438a55a") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*filter: opacity(50%);*/
    z-index: -1;
}

.nav-title {
    vertical-align: middle;
    margin-left: 5%;
}
#title:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    vertical-align: middle;
    height: 100%;
    margin-right: 20px;
}

li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5em;
}

li:hover {
    cursor: pointer;
}

/* Home */
.home, .list-loading, .login {
    height: calc(100vh - 150px);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.geolocation {
    margin-top: 20px;
    height: 50px;
}
form {
    display: flex;
    vertical-align: bottom;
    justify-content: center;
    margin: 20px;
}
input {
    margin: 0 10px;
    padding: 0.5em;
    border: none;
    color: #222;
    outline: none;
    font-size: 1.2em;
    background-color: #eee;
}

/* List */
.list {
    width: 100%;
    text-align: center;
}
.list-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.list-card {
    width: 150px;
    height: 200px;
    background-color: #ddd;
    box-shadow: 1px 1px 1px #555;
    text-align: center;
    color: #555;
    padding: 15px;
    margin: 10px;
}
.card-image {
    width: 100px;
    height: 70px;
    object-fit: cover;
}
.card-name {
    height: 40px;
}
.list-btn {
    margin: 30px;
}
.link-btn {
    margin: 30px;
}

/* Login */
.login-contents {
    width: 50%;
    margin: auto;
}

/* Footer */
footer {
    width: 100vw;
    height: 70px;
    margin-bottom: 0;
}
footer, footer a {
    color: #888;
}
footer a:hover {
    color: #fff;
}
.footer-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-top: solid 1px #888;
}
.footer-item {
    margin-right: 30px;
    padding-top: 25px;
}
i {
    margin: 0 10px;
}


/* Modify Bootstrap */
.btn-default {
    background-color: #eee;
}
.btn-default:hover {
    background-color: #ccc;
}