/* Background
https://images.unsplash.com/photo-1516920846492-81bc6da9fc38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9cfc2f2e1c3766f7de7c61d9438a55a
Vinicius Amano 
https://unsplash.com/@viniciusamano
*/

html, body {
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle; 
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1516920846492-81bc6da9fc38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9cfc2f2e1c3766f7de7c61d9438a55a") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*filter: opacity(50%);*/
    z-index: -1;
}

.nav-title {
    vertical-align: middle;
    margin-left: 30px;
}
.nav-title h1 {
    font-weight: bold;
}
.nav-title svg {
    margin-right: 20px;
}
#title:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 100%;
    margin-right: 20px;
}

li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5em;
}

li:hover {
    cursor: pointer;
}

/* Home */
.home, .list-loading, .login {
    position: relative;
    height: calc(100vh - 150px);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.home-intro {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    transition: top 1s;
}
.home-intro.slide {
    top: 0;
    transition: top 1s;
}
.home-intro button {
    width: 10%;
    margin: 50px;
}
.home-search {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    transition: top 1s;
}
.home-search.slide {
    top: 100%;
    transition: top 1s;
}
.geolocation {
    margin-top: 20px;
    height: 50px;
}
form {
    display: flex;
    vertical-align: bottom;
    justify-content: center;
    margin: 20px;
}
input {
    margin: 0 10px;
    padding: 0.5em;
    border: none;
    color: #222;
    outline: none;
    font-size: 1.2em;
    background-color: #eee;
}

/* List */
.list {
    width: 100%;
    text-align: center;
}
.list-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.list-card {
    position: relative;
    width: 270px;
    height: 210px;
    background-color: #ddd;
    box-shadow: 1px 1px 1px #555;
    text-align: center;
    color: #555;
    padding: 15px;
    margin: 10px;
}
.card-image {
    width: 240px;
    height: 180px;
    object-fit: cover;
}
.card-number {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: -10px -10px 0 0;
    border-radius: 20px;
    line-height: 40px;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 3px 3px 10px #555;
    transition: width 0.2s;
}
.card-number .text {
    display: none;
    margin-left: 5px;
}
.card-number:hover {
    width: 150px;
    transition: width 0.2s;
}
.card-number:hover .text {
    display: inline-block;
}
.card-overlay {
    position: absolute;
    bottom: 15px;
    width: 240px;
    background-color: rgba(50,50,50,0.9);
    color: #eee;
    height: 40px;
    transition: height 0.2s;
    overflow: hidden;
}
.card-name {
    margin-top: 10px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.card-name p {
    margin: 0;
}
.list-btn {
    margin: 30px;
}
.link-btn {
    margin: 30px;
}
.list-card:hover .card-overlay {
    height: 120px;
    transition: height 0.2s;
}

/* Login */
.login-contents {
    width: 50%;
    margin: auto;
}

/* Footer */
footer {
    width: 100vw;
    height: 70px;
    margin-bottom: 0;
}
footer, footer a {
    color: #888;
}
footer a:hover {
    color: #fff;
}
.footer-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #888;
}
.footer-item {
    margin: 0 10px;
}
.footer-item svg {
    margin: 0 10px;
}


/* Modify Bootstrap */
.btn-default {
    background-color: #eee;
}
.btn-default:hover {
    background-color: #ccc;
}