footer {
    width: 100vw;
    height: calc(100vh - 50px);
    margin-bottom: 0;
    background-color: #000;
}
footer, footer a {
    color: #888;
}
footer a:hover {
    color: #fff;
}
.footer-container {
    height: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footer-item {
    margin: 10px 0;
    text-align: center;
}
.footer-item svg {
    margin: 0 10px;
}
